.nav-div {
    margin: 10px 20px;
    background-color: #eee;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    padding: 0 50px;
    height: 10vh;

    background-color: #eee;
}

.navbar {
    display: flex;
    justify-content: end;
    flex-grow: 1;
}

.nav-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding-bottom: 0px;
    margin-left: 40px;
}

.nav-link h4 {
    margin-top: 7px;
}

.icon {
    overflow: hidden;
}

.icon-sm {
    font-size: 0.7em;
}




@media screen and (max-width: 920px), screen and (max-height: 700px) {
    .nav-link h4 {
        display: none;
    }

    .icon-sm {
        font-size: 0.9em;
    }
  }