#nav-dropdown {
    font-size: 24px;
}

.nav-div {
    margin: 10px 20px;
    background-color: #eee;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 0 50px;
    height: 75px;

    background-color: #eee;
}

  