.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 90px;
    padding-bottom: 20px;
}

.chat {
  display: flex;
  flex-direction: column-reverse;
  overflow: visible;
  position: relative;
}

.messages {
    margin-top: 30px;
    display: flex;
    flex-direction: column;

    animation: message 0.25s ease-out 0s forwards;
    animation-delay: var(--delay);

    visibility: hidden;
}

.message {
    border-radius: 20px;
    padding: 8px 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    display: inline-block;
 }

 /* questions are messages in grey sent TO me */
.question {
    align-items: flex-start;
}

.question .message {
    margin-right: 25%;
    color: #000;
    background-color: #eee;
    position: relative;
}
  
.question .message.last:before {
    content: "";
    position: absolute;
    z-index: 0;
    bottom: 0;
    left: -7px;
    height: 20px;
    width: 20px;
    background: #eee;
    border-bottom-right-radius: 15px;
  
 }

.question .message.last:after {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: -10px;
    width: 10px;
    height: 20px;
    background: white;
    border-bottom-right-radius: 10px;
}

/* answers are messages in blue sent FROM me */
.answer {
    align-items: flex-end;
}

.answer .message {
    margin-left: 25%;
    color: white;
    background: #0085D1;
    position: relative;

}

.answer .message.last:before {
    content: "";
    position: absolute;
    z-index: 0;
    bottom: 0;
    right: -8px;
    height: 20px;
    width: 20px;
    background: #0085D1;
    background-attachment: fixed;
    border-bottom-left-radius: 15px;
  }
  
  .answer .message.last:after {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: -10px;
    width: 10px;
    height: 20px;
    background: white;
    border-bottom-left-radius: 10px;
  }

  .text {
    font-size: 16px;
    font-weight: 400;
  }


  /* search bar formatting */
  .question-box {
    background-color: rgb(229, 229, 234, 0);
    border: none;
  }

  .question-box:focus {
    background-color: rgb(229, 229, 234, 0);
    border: none;
    outline: none;
    resize: none;
    box-shadow: none;
  }

  @keyframes message {
    0% {
      visibility: hidden;
      z-index: -1;
    }

    90% {
      visibility: visible;
      z-index: 80;
      transform: scale(1.05);
    }

    100% {
      visibility: visible;
      z-index: 100;
      transform: scale(1);
      padding-top: 0.5rem;
    }
  }