.skills-header {
    margin: 20px 0px;
    text-align: center;
}

.skills-caption {
    padding-top: 10px;
    font-size: 20px;
    margin-bottom: 40px;
}

.skills-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 10px;
}

.card {
    border: none;
}

img {
    height: 150px;
    width: 150px;
    object-fit: cover;
}

figcaption {
    text-align: center;
}

